{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <span class="help-block">{{ error.message|trans }}</span>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
{% block form_row %}
    {% spaceless %}
        <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
            {{ form_label(form) }}
            {{ form_widget(form, { 'attr': {'class':'form-control'} }) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}
{% block checkbox_row %}
    {% spaceless %}
        <div class="checkbox">
            <label>
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </label>
        </div>
    {% endspaceless %}
{% endblock %}
{% block choice_row %}
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block checkbox_widget %}
    {% spaceless %}
        <input type="checkbox" {{ block('widget_attributes') }} {% if checked %}checked="checked"{% endif %} value="{{ value }}"> {{ label|trans }}
    {% endspaceless %}
{% endblock %}
{% block radio_widget %}
    {% spaceless %}
        <label>
            <input type="radio" {{ block('widget_attributes') }} value="{{ value }}"> {{ label|trans }}
        </label>
    {% endspaceless %}
{% endblock %}
{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            {% for child in form %}
                <div class="radio">
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        {% else %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {% if empty_value is not none %}
                    <option value="">{{ empty_value|trans }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('choice_widget_options') }}
                    {% if choices|length > 0 and separator is not none %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}

{% block button_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock %}
{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% set classes = attr.class|default('') ~ ' btn'%}
        {% set attr = attr|merge({'class':classes}) %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock %}